*~
*.user
*.suo
*.bak
*.log
*.sdf
*.o
*.ivec
*.project
*.ipch
*.jfm
*.dbmdl
*.exe
*.zip
build
build_tmp
[Dd]ebug
[Rr]elease
[Bb]in
[Oo]bj
*.slite3
*.lic
*.pyc
*_no_doc*
build_logs
changelog.html
.idea/
.vs/
.vscode/
_release
packages
amd64
Output/*
SmartFace.SizingTool/publish_arm64/*
!Licensing/*
!Jenkins/CliPublishTools/*
SmartFace.FunctionalTests/Scripts/**/*.dll
SmartFace.FunctionalTestsNETFramework/Scripts/**/*.dll
SmartFace.Samples/SampleBinaries
Tools/RabbitMqConnectionChecker/*.dll
Tools/RabbitMqConnectionChecker/*.pdb
Tools/RabbitMqConnectionChecker/*.lib
Tools/RabbitMqConnectionChecker/*.exp
SmartFace.Tests.sln
SmartFace.Rest/Preview/*
Tools/SwaggerExport/.gradle/*
Tools/RabbitMqConnectionChecker/RabbitMQ.Client.xml
Tools/RabbitMqConnectionChecker/EntityFramework.xml
Tools/RabbitMqConnectionChecker/EntityFramework.SqlServer.xml
Docker/sf_dependencies/data_rmq/*
/SmartFace/publish
/SmartFace/publish_win-x64
/SmartFace/publish_linux-arm
/SmartFace.Domain/DataStorage/Models/Generated/*.*
!/SmartFace.Domain/DataStorage/Models/Generated/.gitkeep
/SmartFace.Domain/OfflineVideoProcessing/Models/Generated/*.*
!/SmartFace.Domain/OfflineVideoProcessing/Models/Generated/.gitkeep
/SmartFace.Domain/Api/Statistics/Models/Generated/*.*
!/SmartFace.Domain/Api/Statistics/Models/Generated/.gitkeep
/SmartFace.Workers/VideoProcessing/SpoofDetection/External/Proto/*.cs
/SmartFace.Domain/VideoProcessing/SpoofDetection/External/Proto/ExternalLivenessRequest.cs
/SmartFace.Domain/VideoProcessing/SpoofDetection/External/Proto/ExternalLivenessResponse.cs
/SmartFace.ODataApi/publish
/SmartFace.ODataApi/SmartFace.ODataApi.xml
/SmartFace.Administration/publish
/SmartFace.SizingTool/publish
/SmartFace.SizingTool/publish_win64
/SmartFace.SizingTool/publish_arm64
/SmartFace.Scripts/publish
/SmartFace.AccessNotifier/publish
/SmartFace.Api/publish
/SmartFace.Api/OpenApiSchema.json
/SmartFace.Api/SmartFace.Api.xml
/SmartFace.WatchlistApi/SmartFace.WatchlistApi.xml
/SmartFace.RpcExtractor/publish
/SmartFace.RpcWatchlistMatcher/publish
/SmartFace.FunctionalTests/Scripts
/SmartFace.FunctionalTests/CliPublish
/SmartFace.FunctionalTests/AdminPublish
/SmartFace.FunctionalTests/Log
*/.vscode/*
/NuGetFiles/*
Tools/SwaggerExport/*.json
Tools/SwaggerExport/*.html
SmartFace.SizingTool/DockerScripts/sizing-image-local
/SmartFace.EdgeStreamProcessor/MessageProcessing/Models/Generated/*.*
!/SmartFace.EdgeStreamProcessor/MessageProcessing/Models/Generated/.gitkeep
/SmartFace.EmbeddedStreamProcessor.Communication/Generated/*.*
!/SmartFace.EmbeddedStreamProcessor.Communication/Generated/.gitkeep
/SmartFace.IFace/Serialization/Generated/*.cs
!/SmartFace.IFace/Serialization/Generated/.gitkeep
/SmartFace.Domain/Matching/WatchlistMatching/DataUpdating/Models/Generated/*.cs
!/SmartFace.Domain/Matching/WatchlistMatching/DataUpdating/Models/Generated/.gitkeep
/TestResults
*/publish
